<div class="list-group">
    <a class="list-group-item active ocb-text-center">Gene
        information
        <button type="button" class="btn btn-default btn-xs ocb-collapse-button" ng-Click="showGenePanel = false">&times;
        </button>
        <button type="button" class="btn btn-default btn-xs ocb-float-rigth" ng-click="geneInfo = !geneInfo; openCloseGenePanel()"
                >{{genePanelStatus}}
        </button>

    </a>

    <div class="ocb-panels-data-border" ng-show="!geneInfo">
        <button type="button" class="btn btn-primary btn-xs ocb-margin-five ocb-float-left" ng-click="moreGenePanel()">
            {{moreAndLessGene}}
        </button>
        <h5 class="ocb-margin-l-r-five"><a ng-Click="transcriptsSelectedFromGenesPanel(selectedGen.id)">
            <p>
                {{selectedGen.name}} ( {{selectedGen.id}} )</a>
            <a class="ocb-ensembl-link-color" target="_blank"
               href="http://www.ensembl.org/{{selectedSpecie.ensemblName}}/Location/View?g={{selectedGen.id}};">
                Go Ensembl</a>
            </p>
            <p>Biotype:<span class="text-muted">{{selectedGen.biotype}}</span>
            </p>

            <p> Location:<span class="text-muted">{{selectedGen.chromosome}} : {{selectedGen.start}} - {{selectedGen.end}}</span>
            </p>

            <p>Description:<span class="text-muted">{{selectedGen.description}}</span>
            </p>

            <p ng-show="genePanelMore">Status:<span class="text-muted">{{selectedGen.status}}</span>
            </p>

            <p ng-show="genePanelMore">Strand:<span class="text-muted">{{selectedGen.strand}}</span>
            </p>

            <p ng-show="genePanelMore">Source:<span class="text-muted">{{selectedGen.source}}</span>
            </p>
        </h5>

    </div>
</div>

