<div class="panel panel-info">
    <div class="panel-heading " style="text-align:center">Gene information
        <button type="button" class="btn btn-primary btn-xs" ng-Click="showGenePanel = false" style="float:right">x</button>


    </div>
    <div class="panel-body">
        <h5><a ng-Click="transcriptsSelected(selectedGen.id)"> {{selectedGen.name}} ( {{selectedGen.id}} )</a>
        <a style="color:palevioletred"target="_blank" href="http://www.ensembl.org/{{selectedSpecie.ensemblName}}/Location/View?g={{selectedGen.id}};">
            Go Ensembl</a> </h5>
        <h5>Biotype:
            <small>{{selectedGen.biotype}}</small>
        </h5>
        <h5>Location:
            <small>{{selectedGen.chromosome}} : {{selectedGen.start}} - {{selectedGen.end}}</small>
        </h5>
        <h5>Description:
            <small>{{selectedGen.description}}</small>
        </h5>
    </div>
</div>