<div >

        <!--<table class="table table-striped table-bordered table-condensed table-hover">-->

            <!--<thead>-->
            <!--<th>Name(Id)</th>-->
            <!--<th>Biotype</th>-->
            <!--<th>Location</th>-->
            <!--</thead>-->

            <!--<tbody ng-repeat="gene in paginationDataGeneTable">-->
            <!--&lt;!&ndash;<tbody ng-repeat="gene in genesData">&ndash;&gt;-->
            <!--<td><a ng-Click="geneSelected(gene.id)">-->
                <!--<small>{{gene.name}} ( {{gene.id}} )</small>-->
            <!--</a></td>-->
            <!--<td>-->
                <!--<small>{{gene.biotype}}</small>-->
            <!--</td>-->

            <!--<td>-->
                <!--<small>{{gene.chromosome}} : {{gene.start}} - {{gene.end}}</small>-->
            <!--</td>-->
            <!--</tbody>-->
        <!--</table>-->

        <table class="table table-striped table-bordered table-condensed table-hover">

            <thead>
            <th>Name(Id)</th>
            <th>Biotype</th>
            <th>Location</th>
            </thead>

            <tbody ng-repeat="gene in data">
            <!--<tbody ng-repeat="gene in genesData">-->
            <td>
                <a ng-click="functionDirective(gene.id)">
                    <small>{{gene.name}} ( {{gene.id}} )</small>
                </a>
                <!--<a ng-click="aFn(gene.id)" geneId="gene.id">-->
                    <!--<small>{{gene.name}} ( {{gene.id}} )</small>-->
                <!--</a>-->
            </td>
            <td>
                <small>{{gene.biotype}}</small>
            </td>

            <td>
                <small>{{gene.chromosome}} : {{gene.start}} - {{gene.end}}</small>
            </td>
            </tbody>
        </table>


</div>