<div class="panel panel-info">

    <div class="panel-heading " style="text-align:center">More information
        <button type="button" class="btn btn-primary btn-xs" ng-Click="showMoreInfoPanel = false" style="float:right">x</button>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#exons">exons</a></li>
            <li><a href="#tfbs" ng-click="goToTab()">tfbs</a></li>
            <li><a href="#xrefs" ng-click="goToTab()">xrefs</a></li>
        </ul>

        <div class="tab-content" style="margin:4px">
            <div class="tab-pane active" id="exons">

                <table class="table table-striped table-bordered table-condensed table-hover">

                    <thead>
                    <th>Id</th>
                    <th>Location</th>
                    <th>Phase</th>
                    <th>Exon Number</th>
                    </thead>

                    <tbody ng-repeat="exon in selectedExons">
                    <td><a>
                        <small>{{exon.id}}</small>
                    </a></td>
                    <td>
                        <small>{{exon.chromosome}} : {{exon.start}} - {{exon.end}}</small>
                    </td>
                    <td>
                        <small>{{exon.phase}}</small>
                    </td>
                    <td>
                        <small>{{exon.exonNumber}}</small>
                    </td>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="tfbs">
                <table class="table table-striped table-bordered table-condensed table-hover">

                    <thead>
                    <th>tfName</th>
                    <th>pwm</th>
                    <th>Location</th>
                    <th>Strand</th>
                    </thead>

                    <tbody ng-repeat="tfbs in selectedTFBS">
                    <td><a>
                        <small>{{tfbs.tfName}}</small>
                    </a></td>
                    <td>
                        <small>{{tfbs.pwm}}</small>
                    </td>
                    <td>
                        <small>{{tfbs.chromosome}} : {{tfbs.start}} - {{tfbs.end}}</small>
                    </td>
                    <td>
                        <small>{{tfbs.strand}}</small>
                    </td>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="xrefs">
                <table class="table table-striped table-bordered table-condensed table-hover">

                    <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <!--<th>Description</th>-->
                    </thead>

                    <tbody ng-repeat="xref in selectedXrefs">
                    <td><a>
                        <small>{{xref.id}}</small>
                    </a></td>
                    <td>
                        <small>{{xref.dbName}}</small>
                    </td>
                    <!--<td>-->
                        <!--<small>{{xref.Description}}</small>-->
                    <!--</td>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>