<div ng-show="showChromosome">

    <nav class="collapse navbar-collapse bs-navbar-collapse cw-background-color-lightgrey cw-margin-b-ten" role="navigation">

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle cw-text-options" data-toggle="dropdown">
                    Chromosome: {{selectedChromosome}} <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ng-repeat="chrom in allChromosomes" ng-click="showRegion(chrom)">
                        {{chrom}}
                    </a></li>
                </ul>
            </li>

            <li><a class="cw-text-options"
                   ng-click="showRegionInInput()">Show drawn Region:</a></li>

            <form class="navbar-form navbar-left" role="search">
                <!--<input type="text" class="form-control" placeholder="Region" ng-model="currentRegion">-->

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Region" ng-model="currentRegion">
                </div>
                <button type="submit" class="btn btn-default" ng-click="showRegion(currentRegion)" >Draw</button>
            </form>
        </ul>

        <ul class="nav navbar-nav">
            <li><a class="cw-text-options"
                   ng-click="addRegion()">Add region</a></li>
        </ul>

    </nav>

    <!--div where is the chromosoma, bootstrap can't insert it in a panel or in another element -->
    <div id="chromosome-div" class="cw-inline-block">
    </div>

</div>