<div class="btn-toolbar">
    <!--<div class="panel-heading " style="text-align:center">Summary Panel</div>-->

    <!--<div class="panel-body">-->

    <div class="btn-group btn-group-ms" style="margin: 5px">
        <button type="button" ng-click="handleClick('hola')" class="btn btn-default btn-primary">New</button>
        <!--<button type="button" class="btn btn-default btn-primary">Filter</button>-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#myModalOptions">
            Filter
        </button>

        <div class="btn-group btn-group-ms">
            <button type="button" class="btn btn-default dropdown-toggle btn-primary" data-toggle="dropdown">
                Select species:
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-repeat="specie in species" ng-click="setSelectedSpecie(specie)">
                    {{ specie.longName}}
                </a></li>
                <!--<li><a href = "#" ng-repeat="species in species.longName" ng-click="setSelectedSpecie(specie)">-->
                <!--{{ species}}-->
                <!--</a> </li>-->

            </ul>
            <!--<span>{{selectedSpecie}}</span>-->
        </div>
    </div>


    <!-- Modal -->
    <div class="modal" id="myModalOptions">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Filters</h4>
                </div>
                <div class="modal-body">

                    <!------------------->

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#genesId">Genes Id</a></li>
                        <li><a href="#biotypes" ng-click="goToTab()">Biotypes</a></li>
                    </ul>

                    <div class="tab-content" style="margin:4px">
                        <div class="tab-pane active" id="genesId">

                            <div class="input-group">
                                <span ng-repeat="geneId in genesId">
                                     <input type="checkbox" ng-click="addGeneIdFilter(geneId)"> {{geneId}} &nbsp
                                 </span>
                            </div>

                        </div>
                        <div class="tab-pane" id="biotypes">

                            <div class="input-group">
                                <span ng-repeat="biotype in biotypes">
                                     <input type="checkbox" ng-click="addBiotypeFilter(biotype)"> {{biotype}} &nbsp
                                 </span>
                            </div>
                        </div>
                    </div>


                    <!-------------------->

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="newFilter()" data-dismiss="modal">Ok
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <!--</div>-->
</div>