<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img src="title.png" alt="title" style="width:120; height:35; margin-right: 15px">

            <!--<a class="navbar-brand ocb-font-size-30" style="font-family: Aclonica; color:white" href="#">CellBase</a>-->
        </div>
        <div class="collapse navbar-collapse" style="padding-top:4px">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle ocb-text-options" data-toggle="dropdown" style="cursor:pointer">
                        {{selectedSpecie}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-repeat="specie in species" ng-click="setSelectedSpecie(specie)">{{specie.longName}}</a></li>
                    </ul>
                </li>
                <li><a class="ocb-text-options" ng-click="new()" style="cursor:pointer">New</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="ocb-text-options" ng-click="example()" style="cursor:pointer">Example</a></li>
                <li><a class="ocb-text-options" style="cursor:pointer">Documentation</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>