<div class="btn-group btn-group-xs">
    <button type="button"  ng-click="handleClick('hola')" class="btn btn-default btn-primary">New</button>
    <button type="button" class="btn btn-default btn-primary">Filter</button>

    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-default dropdown-toggle btn-primary" data-toggle="dropdown">
            Select species:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href = "#" ng-repeat="specie in species" ng-click="setSelectedSpecie(specie)">
                {{ specie.longName}}
            </a> </li>
            <!--<li><a href = "#" ng-repeat="species in species.longName" ng-click="setSelectedSpecie(specie)">-->
                <!--{{ species}}-->
            <!--</a> </li>-->

        </ul>
        <!--<span>{{selectedSpecie}}</span>-->
    </div>
</div>