<div class="panel panel-info">
    <div class="panel-heading " style="text-align:center">Summary Panel</div>

    <div class="panel-body">


        <strong style="color:#006ffb">Specie: </strong> {{specie.longName}}


        <strong style="color:#006ffb">Chromosomes: </strong> {{chromosomes.join()}}
        <textarea type="text" ng-model="chromosomes" rows="2" class="form-control"></textarea>


        <strong style="color:#006ffb"> Regions: </strong></p>
        <textarea type="text" ng-model="regions" rows="3" class="form-control"></textarea>


        <button type="button" class="btn btn-default btn-primary btn-sm"  ng-click="newResults()">RESULTS</button>


        <strong style="color:#006ffb">FILTERS: </strong></p>
        <a style="color:#00b3ee" href="" ng-click="genesToggle = !genesToggle"><strong> - Genes:</strong></a>
        <ul ng-show="genesToggle">
            <li ng-repeat="gene in genesFilters">
                {{ gene }}
            </li>
        </ul>
        </p>
        <a style="color:#00b3ee" href="" ng-click="biotypesToggle = !biotypesToggle"><strong> - Biotypes:</strong></a>
        <ul ng-show="biotypesToggle">
            <li ng-repeat="biotype in biotypeFilters">
                {{ biotype }}
            </li>
        </ul>


    </div>
</div>