<div style="">
    <div style="margin-left:5px;">
        <!--<div style="margin-left:20px; margin-right: 20px; margin-top:10px; margin-bottom: 10px">-->


        <ul class="nav nav-tabs" id="mySummaryTab" style=" border-bottom:1px solid darkgray;  margin-top:10px">
            <li class="active"><a href="#regions" data-toggle="tab" >Regions</a></li>
            <li><a href="#filters" data-toggle="tab" ng-click="goToTab()">Filters</a></li>
        </ul>

        <!--<div class="tab-content" style="background-color: #e6e6e6; ">-->
        <div class="tab-content" style="border:1px solid #808080; height: 410px">
            <div class="tab-pane active" id="regions"  style=" margin-top:0px; margin-bottom: 20px">

                <div style=" margin-bottom: 10px">
                    <!--&nbsp-->
                    <p style="background-color: #e6e6e6; "><strong style="color:#0B0B61; margin-left:10px; font-size:medium; ">SPECIE: </strong>
                    </p>
                    <p style="margin-left:10px;">{{specie.longName}}</p>


                    <p style="margin-top:20px; background-color: #e6e6e6"><strong style="margin-left:10px; color:#0B0B61; font-size:medium; ">CHROMOSOMES: </strong></p>
                    <div>
                        <div>
                            <select class="medium" size="6" multiple="multiple" name="miltiSelect" id="multiSelect"
                                    style="max-width: 150px; margin-left:20px">
                                <option ng-repeat="chrom in chromNames" ng-style="getChromosomesColor(chrom)"
                                        ng-click="addChrom(chrom)"> {{chrom}}
                                </option>
                            </select>
                        </div>

                        <div style="text-align: center">
                            <button type="button" class="btn btn-info btn-xs" ng-click="selectAllChrom()"
                                    style="margin:5px;">Select all
                            </button>
                            <button type="button" class="btn btn-info btn-xs" ng-click="deselectAllChrom()"
                                    style="margin:5px;">Deselect all
                            </button>
                        </div>
                    </div>


                    <p>

                    <div style=" margin-top:20px">
                        <p style="background-color: #e6e6e6;"><strong style=" color:#0B0B61; font-size:medium;  margin-left:10px;"> REGIONS: </strong></p>
                        <p class="text-muted" style="margin-left:10px;"><b>chom:start-end</b></p>
                        <textarea type="text" ng-model="regions" rows="3" class="form-control"
                                  style="width:180px; max-width:180px; max-height: 74px; margin-bottom: 10px; margin-left:10px;"></textarea>

                    </div>
                    </p>
                    <!--<button type="button" class="btn btn-default btn-primary btn-sm" ng-click="newResults()"-->
                    <!--style="margin:5px; width:170px">RESULTS-->
                    <!--</button>-->
                </div>

            </div>
            <!------------>
            <div class="tab-pane" id="filters"  style=" margin-bottom: 20px;">

                <div style="margin-bottom: 10px">
                    <div style=" background-color: #e6e6e6;">
                        <p style="margin-left:10px; font-weight: bold; color:#0B0B61;font-size:medium;">

                        Filter per Genes ID:</p>
                    </div>

                        <p class="text-muted" style="margin-left: 10px"><b>Ex: geneID1,geneID2,...</b></p>
                        <textarea type="text" ng-model="genesIdFilter" rows="4" class="form-control"
                              style="width:180px; max-width:180px; max-height: 94px; margin-left: 10px "></textarea>
                     <div style="background-color: #e6e6e6; font-weight: bold; color:#0B0B61; margin-top: 25px; font-size:medium; ">
                        <p style="margin-left:10px; ">Filter per Biotypes:</p>
                    </div>
                <div>
                    <div style="margin-left: 10px">
                        <select class="medium" size="9" multiple="multiple" name="miltiSelect" id="multiSelect2"
                                style=" width:180; max-width: 180px; margin-left:10px; ">
                            <option ng-repeat="biotype in listOfbiotypeFilters" ng-click="addBiotypeFilter(biotype)"
                                    ng-style="getBiotypesColor(biotype)" style="background-color: lightblue">
                                {{biotype}}
                            </option>
                        </select>
                    </div>

                    <div style="text-align: center">
                        <button type="button" class="btn btn-info btn-xs" ng-click="selectAllBiotypeFilter()"
                                style="margin:5px;">Select all
                        </button>
                        <button type="button" class="btn btn-info btn-xs" ng-click="deselectAllBiotypeFilter()"
                                style="margin:5px;">Deselect all
                        </button>
                    </div>
                    </div>
                </div>

                <!--<div>-->
                <!--<button type="button" class="btn btn-primary btn-sm" ng-click="newFilters()"-->
                <!--style="margin:5px; width:170px">FILTER-->
                <!--</button>-->
                <!--</div>-->


            </div>
        </div>


    </div>

    <p style="text-align:center; margin-top:8px"><a class="btn btn-warning btn-lg btn-medium" ng-click="newResult()">RESULT</a></p>

</div>