<div>

<div class="ocb-margin-l-five">
    <ul class="nav nav-tabs" id="variantsTabs">
        <li class="active"><a href="#variantsRegions" data-toggle="tab" class="ocb-font-size-12">Regions</a></li>
        <li><a href="#variantsFilters" data-toggle="tab" class="ocb-font-size-12" ng-click="goToTab()">Filters</a></li>
    </ul>
    <div class="tab-content ocb-margin-b-ten">
        <!--------------------------regions tab--------------------------->
        <div class="tab-pane active ocb-padding-t-5" id="variantsRegions">

            <div class="panel panel-default ocb-margin-b-5">
            <div class="panel-heading">Species</div>
            <div class="panel-body">
            <p class="ocb-margin-l-ten">{{specie.longName}}</p>
            </div>
            </div>

            <div class="panel panel-default ocb-margin-b-5">
                <div class="panel-heading">Chromosomes</div>
                <div class="panel-body">
                    <div class="ocb-chrom-scroll">
                        <div id="variantsChromMultiSelect" class="ocb-text-center">
                            <!--<button id="variants{{chrom}}" ng-repeat="chrom in chromNames" ng-click="addChrom(chrom)"-->
                                    <!--type="button" class="btn btn-default btn-sm" style=" min-width:35px; margin:2px;">{{chrom}}-->
                            <!--</button>-->

                            <witched-chrom ids="typeOfData" chrom-names="chromNames" on-click="addChrom" my-class="ocb-chrom-buttons"></witched-chrom>

                        </div>
                    </div>
                    <br>

                    <div class="ocb-text-center">
                        <button type="button" class="btn btn-info btn-sm ocb-margin-five"
                                ng-click="selectAllChrom()">
                            Select all
                        </button>
                        <button type="button" class="btn btn-info btn-sm ocb-margin-five"
                                ng-click="deselectAllChrom()">
                            Deselect all
                        </button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Regions</div>
                <div class="panel-body">
                    <p class="text-muted ocb-margin-l-ten"><b>chom:start-end</b></p>
                    <!--<textarea type="text" ng-model="regions" rows="7" class="form-control ocb-textarea-regions"></textarea>-->
                    <textarea type="text" ng-model="regions" rows="7" class="form-control ocb-regions-textarea"></textarea>
                </div>
            </div>

        </div>
        <!-------------------filters tab------------------------>
        <div class="tab-pane ocb-padding-t-5" id="variantsFilters">

            <div class="panel panel-default ocb-margin-b-5">
                <div class="panel-heading">SNP Id</div>
                <div class="panel-body">
                    <p class="text-muted ocb-margin-l-ten"><b>Ex: SNP_ID1,SNP_ID2,...</b></p>
                    <textarea type="text" ng-model="snpIdFilter" rows="5" class="form-control ocb-filter-textarea"></textarea>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Consequence Tye</div>
                <div class="panel-body">
                    <div class="ocb-biotypes-scroll">
                        <div id="conseqTypeMultiSelect">
                            <div ng-repeat="conseqTypes in listOfConseqTypes">
                                <button id="{{conseqTypes}}"
                                        ng-click="addConseqTypeFilter(conseqTypes)" type="button"
                                        class="btn btn-default btn-sm ocb-filter-width">{{conseqTypes}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="ocb-text-center">
                        <button type="button" class="btn btn-info btn-sm ocb-margin-five"
                                ng-click="selectAllConseqTypeFilter()">
                            Select all
                        </button>
                        <button type="button" class="btn btn-info btn-sm ocb-margin-five"
                                ng-click="deselectAllConseqTypeFilter()">
                            Deselect all
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<p class="ocb-text-center"><a class="btn btn-warning btn-lg btn-medium" ng-click="setResult()">
    RESULT</a>
</p>

</div>