.ocb-text-center {
    text-align:center;
}

.ocb-border-b-darkgrey{
    border-bottom: 1px solid darkgray;
}

.ocb-margin-five{
    margin:5px;
}

.ocb-inline-block{
    display: inline-block;
}

.ocb-select-panel-width{
    width:220px;
}

.ocb-chrom-panel{
    width:100%;
    position:relative;
    bottom:0;
}

.ocb-text-options{
    font-weight:bold;
    font-size:medium;
    color:#0B0B61;
}

/*.ocb-select-panel{*/

/*}*/

.ocb-select-panel-text{
    color:#0B0B61;
    font-size:medium;
    margin-left:10px;
}

.ocb-background-color-lightgrey{
    background-color:lightgrey;
}

.ocb-margin-b-ten{
    margin-bottom:10px;
}

.ocb-margin-b-0{
    margin-bottom:0px;
}

.ocb-margin-l-ten{
    margin-left:10px;
}

.ocb-border-darkgray{
    border:1px solid darkgray;
}

.ocb-result-tree-width{
    width:260px;
}
.ocb-all-data-button{
    font-weight: bold;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    width:248px;
    background-color: #e6e6e6;
    color:black;
    border:1px solid #808080;
}

.ocb-margin-two{
    margin:2px;
}
.ocb-pagnation-text-color{
    color:#006ffb;
}

.ocb-pagnation-tree-position{
    margin-top: 10px;
    margin-left:4px;
    margin-rigth:4px;
}

.ocb-margin-l-thirty{
    margin-left:30px;
}

.ocb-select-background-color{
    background-color: #e6e6e6;
}

.ocb-margin-l-r-five{
    margin-left:5px;
    margin-rigth:5px;
}

.ocb-margin-b-five{
    margin-bottom:5px;
}

.ocb-margin-l-five{
    margin-left:5px;
}

.ocb-select-tabs{
    border:1px solid #808080;
    height: 440px;
}

.ocb-select-first-tab{
    margin-top:0px;
    margin-bottom: 20px;
}

.ocb-maegin-t-twenty{
    margin-top:20px;
}
.ocb-chrom-list{
    max-width: 150px;
    margin-left:20px;
}

.ocb-regions-textarea{
    width:190px;
    max-width:190px;
    max-height: 114px;
}

.ocb-margin-b-twenty{
    margin-bottom: 20px;
}

.ocb-genes-id-textarea{
    width:180px;
    max-width:180px;
    max-height: 94px;
}

.ocb-margin-t-twenty-five{
    margin-top: 25px;
}

.ocb-biotypes-list{
    width:180;
    max-width: 180px;
}

.ocb-background-color-lightblue{
    background-color: lightblue;
}

.ocb-margin-t-eigth{
    margin-top: 8px;
}

.ocb-margin-b-eigth{
    margin-bottom: 8px;
}

.ocb-margin-t-ten{
    margin-top: 10px;
}

.ocb-margin-ten{
    margin: 10px;
}

.ocb-tree-first-level{
    color:black;
    border:1px solid #808080;
    background-color: #e6e6e6;
}

.ocb-float-rigth{
    float:right;
}

.ocb-collapse-button{
    float:right;
    margin-left:3px;
}

.ocb-panels-data-border{
    border:1px solid #006ffb;
}

.ocb-float-left{
    float:left;
}

.ocb-ensembl-link-color{
    color:palevioletred;
}

.ocb-text-blue{
    font-weight: bold;
    color: blue;
}

/*.ocb-result-panels-width{*/

    /*width: calc(100%-10px);*/
/*}*/





