/*-----rewritte bootstrap css----*/
.list-group-item {
    position: relative;
    display: block;
    padding: 5px 6px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group {
    margin-bottom: 4px;
    padding-left: 0;
}
/*-------------------------------*/

.ocb-content-width{
    width:1440px;
    /*width:1410px;*/
}

.ocb-select-panel-width{
    width:250px;
    /*width:220px;*/
}

.ocb-result-width{
    width:1015px;   /*250+765*/
    /*width:1190px;*/
}
.ocb-width-900{
    width:900px;
}

.ocb-h-50{
    height:50px;
}

.ocb-list{
    margin-bottom:2px !important;
    font-size:11px;
}
.ocb-list-in{
    font-size:11px;
    /*background-color: #e2edff !important;*/
    /*background-color: #ebe2f8 !important;*/
    background-color: #f8f8f8 !important;
    /*background-color: #e0e0e0 !important;*/
    /*background-color: #F2F2F2 !important;*/
    color: #000000 !important;
    border:1px solid #a6a6a6 !important;
    /*border:1px solid #DBDBDB !important;*/
}

.ocb-padding-t-5{
    padding-top:5px;
}

.ocb-list-button{
    /*background-color: #ffffff !important;*/
    /*color:#000000 !important;*/
    background-color: #999 !important;
    color:#ffffff !important;
}
.ocb-m-l-20{
    margin-left: 20px;
}
.ocb-chrom-buttons{
    min-width:35px;
    margin:2px !important;
}
.ocb-text-center{
    text-align:center;
}
.ocb-text-right {
    text-align:right;
}
.ocb-text-width-400{
    display: inline-block;
    width: 400px;
}
.ocb-text-width-300 {
    display: inline-block;
    width: 300px;
}
.ocb-text-width-80 {
    display: inline-block;
    width: 80px;
}
.ocb-text-width-50 {
    display: inline-block;
    width: 50px;
}
.ocb-text-width-180 {
    display: inline-block;
    width: 180px;
}
.ocb-text-width-150 {
    display: inline-block;
    width: 150px;
}
.ocb-text-width-130 {
    display: inline-block;
    width: 130px;
}
.ocb-text-width-220 {
    display: inline-block;
    width: 220px;
}
.ocb-text-width-100 {
    display: inline-block;
    width: 100px;
}
.ocb-text-width-300 {
    display: inline-block;
    width: 300px;
}
.ocb-text-width-350 {
    display: inline-block;
    width: 350px;
}
.ocb-margin-five{
    margin:5px;
}
.ocb-inline-block{
    display: inline-block;
}
.ocb-text-options{
    font-weight:bold;
    font-size:medium;
    color:#0B0B61;
}
.ocb-font-size-13{
    font-size:13px;
}
.ocb-font-size-30{
    font-size:30px !important;
}

.ocb-font-size-12{
    font-size:12px;
}
.ocb-margin-b-ten{
    margin-bottom:10px;
}
.ocb-margin-r-ten{
    margin-right:10px;
}
.ocb-margin-r-5{
    margin-right:5px;
}
.ocb-margin-b-5{
    margin-bottom:5px !important;
}
.ocb-margin-l-ten{
    margin-left:10px;
}
.ocb-margin-l-40{
    margin-left:40px !important;
}
.ocb-margin-l-30{
    margin-left:30px !important;
}
.ocb-border-darkgray{
    border:1px solid darkgray;
}
.ocb-result-tree{
    width:215px;
    /*height: 645px;*/
}
.ocb-bold{
    font-weight: bold;
}
.ocb-pagnation-text-color{
    color:#006ffb;
}

.ocb-pagnation-tree-position{
    margin-top: 5px;
    margin-left:4px;
    margin-rigth:4px;
}


.ocb-margin-l-r-five{
    margin-left:5px;
    margin-rigth:5px;
}

.ocb-margin-l-five{
    margin-left:5px;
}

.ocb-select-tabs{
    /*border:1px solid #808080;*/
    height: 540px;
}

.ocb-regions-textarea{
    height:154px !important;
    max-width:212px;
    width:212px;
    max-height:154px
}
.ocb-filter-textarea{
    height:124px !important;
    max-width:212px;
    width:212px;
    max-height:124px
}

.ocb-filter-width{
    min-width:170px;
    margin:2px !important;
}


.ocb-panels-data-border{
    border:1px solid #006ffb;
}
.ocb-ensembl-link-color{
    color:palevioletred;
}

.ocb-chrom-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 145px;
    margin:10px

    /*overflow: scroll;*/
    /*height: 140px;*/
    /*margin:10px*/
}
.ocb-biotypes-scroll{
    overflow: scroll;
    height: 190px;
    margin:10px
}
.ocb-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 120px;
    margin:10px
}
.ocb-scroll-transVar{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 198px;
    margin:10px
}
.ocb-scroll-regulations{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 540px;
    margin:10px
}

.ocb-scroll-tree{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 540px;
    /*height: 555px;*/
    /*height: 540px;*/
    /*margin:10px*/
}
.ocb-line-height-5{
    line-height: 0.5;
}
.ocb-gv{
    width:765px;
    /*width:900px;*/
}
.ocb-nv{
    width:765px;
    /*width:900px;*/
    height:665px;
}

.ocb-width_900{
    width:900px;
}
.ocb-width_765{
    width:765px;
}

.ocb-tree-transcript{
padding:10px 0 10px 40px;
/*padding:10px;*/
/*margin-left:40px;*/
}
.ocb-tree-transcript:hover{
    background-color: #EFF8FC;
    color: #000000;
}

