


/*-----rewritte bootstrap css----*/
.list-group-item {
    position: relative;
    display: block;
    padding: 5px 6px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group {
    margin-bottom: 4px;
    padding-left: 0;
}
/*-------------------------------*/

.ocb-text-center {
    text-align:center;
}
.ocb-text-right {
    text-align:right;
}
.ocb-text-width-400 {
    display: inline-block;
    width: 400px;
}
.ocb-text-width-300 {
    display: inline-block;
    width: 300px;
}

.ocb-text-width-80 {
    display: inline-block;
    width: 80px;
}
.ocb-text-width-70 {
    display: inline-block;
    width: 70px;
}
.ocb-text-width-60 {
    display: inline-block;
    width: 60px;
}
.ocb-text-width-50 {
    display: inline-block;
    width: 50px;
}
.ocb-text-width-85 {
    display: inline-block;
    width: 85px;
}
.ocb-text-width-180 {
    display: inline-block;
    width: 180px;
}
.ocb-text-width-165 {
    display: inline-block;
    width: 165px;
}
.ocb-text-width-160 {
    display: inline-block;
    width: 160px;
}
.ocb-text-width-150 {
    display: inline-block;
    width: 150px;
}
.ocb-text-width-135 {
    display: inline-block;
    width: 135px;
}
.ocb-text-width-130 {
    display: inline-block;
    width: 130px;
}
.ocb-text-width-200 {
    display: inline-block;
    width: 200px;
}
.ocb-text-width-100 {
    display: inline-block;
    width: 100px;
}
.ocb-text-width-300 {
    display: inline-block;
    width: 300px;
}
.ocb-text-width-350 {
    display: inline-block;
    width: 350px;
}

.ocb-border-b-darkgrey{
    border-bottom: 1px solid darkgray;
}

.ocb-margin-five{
    margin:5px;
}

.ocb-inline-block{
    display: inline-block;
}

.ocb-select-panel-width{
    width:250px;
    /*width:220px;*/
}

.ocb-chrom-panel{
    width:100%;
    position:relative;
    bottom:0;
}

.ocb-text-options{
    font-weight:bold;
    font-size:medium;
    color:#0B0B61;
}

/*.ocb-select-panel{*/

/*}*/

.ocb-select-panel-text{
    color:#0B0B61;
    font-size:medium;
    margin-left:10px;
}

.ocb-font-size-13{
    font-size:13px;
}

.ocb-background-color-lightgrey{
    background-color:lightgrey;
}

.ocb-margin-b-ten{
    margin-bottom:10px;
}

.ocb-margin-b-0{
    margin-bottom:0px;
}

.ocb-margin-l-ten{
    margin-left:10px;
}

.ocb-border-darkgray{
    border:1px solid darkgray;
}

.ocb-result-tree{
    width:260px;
    height: 644px;
}
.ocb-result-width{
    width:1190px;
}
.ocb-bold{
    font-weight: bold;
}
.ocb-all-data-button{
    font-weight: bold;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 8px;
    width:248px;
    background-color: #e6e6e6;
    color:black;
    border:1px solid #808080;
}

.ocb-margin-two{
    margin:2px;
}
.ocb-pagnation-text-color{
    color:#006ffb;
}

.ocb-pagnation-tree-position{
    margin-top: 10px;
    margin-left:4px;
    margin-rigth:4px;
}

.ocb-margin-l-thirty{
    margin-left:30px;
}

.ocb-select-background-color{
    background-color: #e6e6e6;
}

.ocb-margin-l-r-five{
    margin-left:5px;
    margin-rigth:5px;
}

.ocb-margin-b-five{
    margin-bottom:5px;
}

.ocb-margin-l-five{
    margin-left:5px;
}

.ocb-select-tabs{
    border:1px solid #808080;
    height: 540px;
}

.ocb-select-first-tab{
    margin-top:0px;
    margin-bottom: 20px;
}

.ocb-maegin-t-twenty{
    margin-top:20px;
}

.ocb-regions-textarea{
    width:222px;
    max-width:222px;
    /*width:190px;*/
    /*max-width:190px;*/
    max-height: 154px;
}

.ocb-margin-b-twenty{
    margin-bottom: 20px;
}

.ocb-filter-textarea{
    width:222px;
    max-width:222px;
    /*width:190px;*/
    /*max-width:190px;*/
    max-height: 114px;
}

.ocb-margin-t-twenty-five{
    margin-top: 25px;
}

.ocb-biotypes-list{
    width:180;
    max-width: 180px;
}

.ocb-background-color-lightblue{
    background-color: lightblue;
}

.ocb-margin-t-eigth{
    margin-top: 8px;
}

.ocb-margin-b-eigth{
    margin-bottom: 8px;
}

.ocb-margin-t-ten{
    margin-top: 10px;
}

.ocb-margin-ten{
    margin: 10px;
}

.ocb-tree-first-level{
    color:black !important;
    border:1px solid #808080 !important;
    background-color: #e6e6e6 !important;
}

.ocb-float-rigth{
    float:right;
}

.ocb-collapse-button{
    float:right;
    margin-left:3px;
}

.ocb-panels-data-border{
    border:1px solid #006ffb;
}

.ocb-float-left{
    float:left;
}

.ocb-ensembl-link-color{
    color:palevioletred;
}

.ocb-text-blue{
    font-weight: bold;
    color: blue;
}
.ocb-chrom-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 135px;
    margin:10px

    /*overflow: scroll;*/
    /*height: 140px;*/
    /*margin:10px*/
}
.ocb-biotypes-scroll{
    overflow: scroll;
    height: 230px;
    margin:10px
}
.ocb-scroll{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 120px;
    margin:10px
}

.ocb-scroll-transVar{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 198px;
    margin:10px
}
.ocb-scroll-regulations{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 540px;
    margin:10px
}






.ocb-scroll-tree{
    overflow-y:scroll;
    overflow-x:hidden;
    height: 540px;
    /*margin:10px*/
}
.ocb-line-height-5{
    line-height: 0.5;
}
.ocb-line-height-20{
    line-height: 2.0;
}
.ocb-gv{
    width:900px;
}

.ocb-width_900{
    width:900px;
}

.ocb-content-width{
    width:1440px;
    /*width:1410px;*/
}

.ocb-options-bar-width{
    width:1450px;
    /*width:1420px;*/
}



/*-------no funcionan:---------*/
.ocb-result-panels-width{
    width: calc(100%-220px) important!;
}
/*.ocb-gv-width{*/
    /*width: calc(100%-10px);*/
/*}*/





.ocb-tree-transcript{
padding:10px 0 10px 40px;
/*padding:10px;*/
/*margin-left:40px;*/
}
.ocb-tree-transcript:hover{
    background-color: #EFF8FC;
    color: #000000;
}

