<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/cellbase-shared-styles.html">

<dom-module id="cellbase-cosmic-grid">
    <template>
        <style is="custom-style" include="cellbase-shared-styles"></style>

        <div style="padding: 10px; ">
            <table id="{{prefix}}CosmicTable" data-search="true" data-show-columns="true" data-pagination="true" data-page-list="[10, 25, 50]"
                   data-show-pagination-switch="true" data-show-export="true">

            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'cellbase-cosmic-grid',
            properties: {
                data: {
                    type: Array,
                    value: [],
                    observer: 'renderFromLocal'
                },
                url: {
                    type: String,
                    observer: 'renderFromServer'
                },
                prefix: {
                    type: String
                },
                count: {
                    type: Number,
                    value: 0,
                    notify: true
                }
            },
            ready: function () {
                this.cols = [
                    [
                        {
                            title: 'Mutation Id',
                            field: 'mutationID'
                        },
                        {
                            title: 'Primary Site',
                            field: 'primarySite'
                        },
                        {
                            title: 'Site Subtype',
                            field: 'siteSubtype'
                        },
                        {
                            title: 'Primary Histology',
                            field: 'primaryHistology'
                        },
                        {
                            title: 'Histology Subtype',
                            field: 'histologySubtype'
                        },
                        {
                            title: 'Sample Source',
                            field: 'sampleSource'
                        },
                        {
                            title: 'Tumour Origin',
                            field: 'tumourOrigin'
                        },
                        {
                            title: 'Gene Name',
                            field: 'geneName'
                        },
                        {
                            title: 'Mutation Somatic Status',
                            field: 'mutationSomaticStatus'
                        }
                    ]
                ]
            },
            renderFromServer: function () {
                let _this = this;
                $('#' + this.prefix + 'CosmicTable').bootstrapTable('destroy');
                let _numTotal = -1;

                $('#' + this.prefix + 'CosmicTable').bootstrapTable({
                    url: this.url,
                    method: 'get',
                    sidePagination: 'server',
                    queryParams: function (params) {
                        return {
                            limit: params.limit,
                            skip: params.offset
                        };
                    },
                    responseHandler: function (res) {
                        if (_numTotal == -1) {
                            _numTotal = res.response[0].numTotalResults;
                            _this.count = _numTotal;
                        }
                        return {total: _numTotal, rows: res.response[0].result}
                    },
                    columns: this.cols
                });
                $('#' + this.prefix + 'CosmicTable').bootstrapTable('showLoading');
            },
            renderFromLocal: function () {
                $('#' + this.prefix + 'CosmicTable').bootstrapTable('destroy');
                $('#' + this.prefix + 'CosmicTable').bootstrapTable({
                    data: this.data,
                    columns: this.cols
                });
            }
        });
    </script>
</dom-module>