<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/cellbase-shared-styles.html">

<dom-module id="cellbase-clinvar-grid">
    <template>
        <style is="custom-style" include="cellbase-shared-styles"></style>

        <div style="padding: 10px; ">
            <table id="{{prefix}}ClinvarTable" data-search="true" data-show-columns="true" data-pagination="true" data-page-list="[10, 25, 50]"
                   data-show-pagination-switch="true" data-show-export="true">

            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'cellbase-clinvar-grid',
            properties: {
                data: {
                    type: Array,
                    value: [],
                    observer: 'renderFromLocal'
                },
                url: {
                    type: String,
                    observer: 'renderFromServer'
                },
                prefix: {
                    type: String
                },
                count: {
                    type: Number,
                    value: 0,
                    notify: true
                }
            },
            ready: function () {
                this.cols = [
                    [
                        {
                            title: 'Accession',
                            field: 'clinvarSet.referenceClinVarAssertion.clinVarAccession.acc'
                        },
                        {
                            title: 'Clinical Significance',
                            field: 'clinvarSet.referenceClinVarAssertion.clinicalSignificance.description',
                            sortable: true
                        },
                        {
                            title: 'Traits',
                            formatter: this.traitsFormatter
                        },
                        {
                            title: 'Gene Names',
                            formatter: this.geneNameFormatter
                        },
                        {
                            title: 'Review Status',
                            field: 'clinvarSet.referenceClinVarAssertion.clinicalSignificance.reviewStatus'
                        }
                    ]
                ]
            },
            renderFromServer: function () {
                let _this = this;
                $('#' + this.prefix + 'ClinvarTable').bootstrapTable('destroy');
                let _numTotal = -1;

                $('#' + this.prefix + 'ClinvarTable').bootstrapTable({
                    url: this.url,
                    method: 'get',
                    sidePagination: 'server',
                    queryParams: function (params) {
                        return {
                            limit: params.limit,
                            skip: params.offset
                        };
                    },
                    responseHandler: function (res) {
                        if (_numTotal == -1) {
                            _numTotal = res.response[0].numTotalResults;
                            _this.count = _numTotal;
                        }
                        return {total: _numTotal, rows: res.response[0].result}
                    },
                    columns: this.cols
                });
                $('#' + this.prefix + 'ClinvarTable').bootstrapTable('showLoading');
            },
            renderFromLocal: function () {
                $('#' + this.prefix + 'ClinvarTable').bootstrapTable('destroy');
                $('#' + this.prefix + 'ClinvarTable').bootstrapTable({
                    data: this.data,
                    columns: this.cols
                });
            },
            traitsFormatter: function (value, row, index) {
                let result = [];
                let traits = row.clinvarSet.referenceClinVarAssertion.traitSet.trait;
                for (let trait in traits) {
                    let names = traits[trait].name;
                    for (let i in names) {
                        result.push(names[i].elementValue.value);
                    }
                }
                return result;
            },
            geneNameFormatter: function (value, row, index) {
                let result = [];
                let measures = row.clinvarSet.referenceClinVarAssertion.measureSet.measure;
                for (let measure in measures) {
                    let measureRelationships = measures[measure].measureRelationship;
                    for (let i in measureRelationships) {
                        let symbols = measureRelationships[i].symbol;
                        for (let j in symbols) {
                            result.push(symbols[j].elementValue.value);
                        }
                    }
                }
                return result;
            }
        });
    </script>
</dom-module>