<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/cellbase-shared-styles.html">

<dom-module id="cellbase-phenotype-grid">
    <template>
        <style is="custom-style" include="cellbase-shared-styles"></style>

        <div>
            <br>
            <table id="{{prefix}}PhenotypeTable" data-search="true" data-show-columns="true" data-pagination="true" data-page-list="[10, 25, 50]"
                   data-show-pagination-switch="true" data-show-export="true">
                <thead>
                <tr>
                    <th data-field="id">Id</th>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="hpo" data-sortable="true">HPO</th>
                    <th data-field="score" data-sortable="true">Score</th>
                    <th data-field="source">Source</th>
                    <th data-field="numberOfPubmeds" data-sortable="true">Number of Pubmeds</th>
                    <th data-field="associationTypes">Association Types</th>
                    <th data-field="sources">Sources</th>
                </tr>
                </thead>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'cellbase-phenotype-grid',
            properties: {
                cellbase: {
                    type: Object
                },
                data: {
                    type: Array,
                    value: [],
                    observer: 'phenotypeChanged'
                },
                prefix: {
                    type: String
                }
            },
            phenotypeChanged: function() {
                $('#' + this.prefix + 'PhenotypeTable').bootstrapTable('destroy');
                $('#' + this.prefix + 'PhenotypeTable').bootstrapTable({
                    data: this.data,
                    columns: [
                        [
                            {
                                title: 'ID',
                                field: 'id'
                            },
                            {
                                title: 'Name',
                                field: 'name'
                            },
                            {
                                title: 'HPO',
                                field: 'hpo'
                            },
                            {
                                title: 'Score',
                                field: 'score'
                            },
                            {
                                title: 'Source',
                                field: 'source'
                            },
                            {
                                title: 'Number of Pubmeds',
                                field: 'numberOfPubmeds'
                            },
                            {
                                title: 'Association Types',
                                field: 'associationTypes'
                            },
                            {
                                title: 'Sources',
                                field: 'sources'
                            }
                        ]
                    ]
                });
            }
        });
    </script>
</dom-module>
