<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/cellbase-shared-styles.html">

<dom-module id="cellbase-expression-grid">
    <template>
        <style is="custom-style" include="cellbase-shared-styles"></style>

        <div>
            <br>
            <table id="{{prefix}}ExpressionTable" data-search="true" data-show-columns="true" data-pagination="true" data-page-list="[10, 25, 50]"
                   data-show-pagination-switch="true" data-show-export="true">

            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'cellbase-expression-grid',
            properties: {
                cellbase: {
                    type: Object
                },
                data: {
                    type: Array,
                    value: [],
                    observer: 'expressionChanged'
                },
                prefix: {
                    type: String
                }
            },
            expressionChanged: function() {
                $('#' + this.prefix + 'ExpressionTable').bootstrapTable('destroy');
                $('#' + this.prefix + 'ExpressionTable').bootstrapTable({
                    data: this.data,
                    columns: [
                        [
                            {
                                title: 'Experimental Factor',
                                field: 'experimentalFactor'
                            },
                            {
                                title: 'Factor Value',
                                field: 'factorValue'
                            },
                            {
                                title: 'Experiment ID',
                                field: 'experimentId'
                            },
                            {
                                title: 'Technology Platform',
                                field: 'technologyPlatform'
                            },
                            {
                                title: 'Expression',
                                field: 'expression'
                            },
                            {
                                title: 'Association Types',
                                field: 'associationTypes'
                            },
                            {
                                title: 'Pvalue',
                                field: 'pvalue'
                            }
                        ]
                    ]
                });
            }
        });
    </script>
</dom-module>
