<dom-module id="cellbase-active-filters">
    <template>
        <style is="custom-style" include="jso-styles">
            .filter-button:hover {
                text-decoration: line-through;
            }
        </style>

        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-primary" on-click="fireClear"><i class="fa fa-refresh" aria-hidden="true" style="padding-right: 5px"></i>
                    Clear
                </button>

                <span style="padding: 0px 25px 0px 25px">
                    <template is="dom-if" if="{{filtersEmpty}}">
                        <label>No filters selected</label>
                    </template>

                    <template is="dom-repeat" items="{{filtersList}}">
                        <button type="button" class="btn btn-warning btn-sm filter-button" on-click="onFilterDelete"
                                data-filter-name="{{item.name}}" data-filter-value="{{item.text}}">{{item.name}} = {{item.text}}</button>
                    </template>
                </span>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'cellbase-active-filters',
            properties: {
                filters: {
                    type: Object
                }
            },

            fireClear: function () {
                
            },
            onFilterDelete: function () {
                
            }
        });
    </script>
</dom-module>