<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileJson" fileName="${cellbase.log.file}" immediateFlush="true">
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="${cellbase.log.level}">
            <AppenderRef ref="FileJson" />
        </Root>
    </Loggers>
</Configuration>
