<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileJson" fileName="${CELLBASE_LOG_FILE}" immediateFlush="true">
            <JSONLayout compact="true" eventEol="true" properties="true" stacktraceAsString="true"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="${CELLBASE_LOG_LEVEL}">
            <AppenderRef ref="Console" />
            <AppenderRef ref="FileRaw" />
            <AppenderRef ref="FileJson" />
        </Root>
    </Loggers>
</Configuration>
