<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/cellbase-shared-styles.html">

<dom-module id="cellbase-annotation-consequencetype-grid">
    <template>
        <style is="custom-style" include="cellbase-shared-styles"></style>

        <div style="padding: 10px; ">
            <table id="{{prefix}}ConsequenceTypeTable" data-search="true" data-show-columns="true"
                   data-pagination="true" data-page-list="[10, 25, 50]" data-show-pagination-switch="true"
                   data-show-export="true">

            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: 'cellbase-annotation-consequencetype-grid',
            properties: {
                data: {
                    type: Array,
                    value: [],
                    observer: 'render'
                },
                prefix: {
                    type: String
                }
            },
            render: function () {
                $('#' + this.prefix + 'ConsequenceTypeTable').bootstrapTable('destroy');
                $('#' + this.prefix + 'ConsequenceTypeTable').bootstrapTable({
                    data: this.data,
                    detailView: true,
                    detailFormatter: this.detailFormatter,
                    columns: [
                        [
                            {
                                title: 'Gene',
                                field: 'geneName',
                                colspan: 1,
                                rowspan: 2

                            },
                            {
                                title: 'Ensembl Gene',
                                field: 'ensemblGeneId',
                                colspan: 1,
                                rowspan: 2
                            },
                            {
                                title: 'Ensembl Transcript',
                                field: 'ensemblTranscriptId',
                                colspan: 1,
                                rowspan: 2
                            },
                            {
                                title: 'Biotype',
                                field: 'biotype',
                                colspan: 1,
                                rowspan: 2
                            },
                            {
                                title: 'Sequence Ontology Term',
                                formatter: this.seqOntologyFormatter,
                                colspan: 1,
                                rowspan: 2
                            },
                            {
                                title: 'Protein Variant Annotation',
                                colspan: 6,
                                rowspan: 1
                            }

                        ],
                        [
                            {
                                title: 'Uniprot Accession',
                                field: 'proteinVariantAnnotation.uniprotAccession',
                                colspan: 1,
                                rowspan: 1
                            },
                            {
                                title: 'Position',
                                field: 'proteinVariantAnnotation.position',
                                colspan: 1,
                                rowspan: 1
                            },
                            {
                                title: 'Ref/Alt',
                                formatter: this.proteinAlleleFormatter,
                                colspan: 1,
                                rowspan: 1
                            },
                            {
                                title: 'Sift',
                                formatter: this.siftScoreFormatter,
                                cellStyle: this.siftCellStyle,
                                colspan: 1,
                                rowspan: 1
                            },
                            {
                                title: 'Polyphen',
                                formatter: this.polyphenScoreFormatter,
                                cellStyle: this.polyphenCellStyle,
                                colspan: 1,
                                rowspan: 1
                            },
                            {
                                title: 'Functional Description',
                                field: 'proteinVariantAnnotation.functionalDescription',
                                colspan: 1,
                                rowspan: 1
                            }
                        ]
                    ]
                });
            },
            seqOntologyFormatter: function (value, row, index) {
                let soTerm = row.sequenceOntologyTerms[0];
                return soTerm.name + '(' + soTerm.accession + ')';
            },
            proteinAlleleFormatter: function (value, row, index) {
                if (typeof row.proteinVariantAnnotation !== 'undefined') {
                    return row.proteinVariantAnnotation.reference + "/" + row.proteinVariantAnnotation.alternate;
                } else {
                    return '-';
                }
            },

            detailFormatter: function (index, row) {
                if (row.biotype == "protein_coding") {
                    if (typeof row.proteinVariantAnnotation !== 'undefined') {
                        if (typeof row.proteinVariantAnnotation.uniprotVariantId !== 'undefined') {
                            var html = [];
                            var result = "";
                            if (typeof row.proteinVariantAnnotation.features !== 'undefined') {
                                let features = row.proteinVariantAnnotation.features;
                                var xxx = [];
                                for (let i in features) {
                                    features[i].id = features[i].id || '-';
                                    features[i].type = features[i].type || '-';
                                    features[i].description = features[i].description || '-';
                                    xxx.push('<span> ID: ' + features[i].id + ', Start:' + features[i].start + ', End:' + features[i].end +
                                            ', Type:' + features[i].type + ', Description:' + features[i].description + ' </span> <br>');
                                }
                                result = xxx.join('');
                            } else {
                                result = '-';
                            }

                            html.push('<b>Uniprot Variant ID:</b> ' + row.proteinVariantAnnotation.uniprotVariantId +
                                    '<br> <b>Keywords:</b> ' + row.proteinVariantAnnotation.keywords +
                                    '<br> <b>Features:</b><br> ' + result);
                            return html.join('');
                        } else {
                            return "No Uniprot Data Available";
                        }
                    }
                    else {
                        return "No Uniprot Data Available";
                    }
                } else {
                    return '-';
                }

            },
            siftScoreFormatter: function (value, row, index) {
                if (typeof row.proteinVariantAnnotation !== 'undefined') {
                    let sub = row.proteinVariantAnnotation.substitutionScores;
                    for (let i in sub) {
                        if (sub[i].source == "sift") {
                            return sub[i].score;
                        }
                    }
                } else {
                    return '-';
                }
            },
            polyphenScoreFormatter: function (value, row, index) {
                if (typeof row.proteinVariantAnnotation !== 'undefined') {
                    let sub = row.proteinVariantAnnotation.substitutionScores;
                    for (let i in sub) {
                        if (sub[i].source == "polyphen") {
                            return sub[i].score;
                        }
                    }
                } else {
                    return '-';
                }
            },
            siftCellStyle: function (value, row, index) {
                if (typeof row.proteinVariantAnnotation !== 'undefined') {
                    if (typeof row.proteinVariantAnnotation.substitutionScores !== 'undefined') {
                        let sift = row.proteinVariantAnnotation.substitutionScores[0];
                        if (sift) {
                            switch (sift.description) {
                                case 'tolerated':
                                    return {
                                        css: {
                                            "background-color": "green"
                                        }
                                    };
                                case 'deleterious':
                                    return {
                                        css: {
                                            "background-color": "red"
                                        }
                                    };
                            }
                        }
                    }
                }
                return {};
            },
            polyphenCellStyle: function (value, row, index) {
                if (typeof row.proteinVariantAnnotation !== 'undefined') {
                    if (typeof row.proteinVariantAnnotation.substitutionScores !== 'undefined') {
                        let polyphen = row.proteinVariantAnnotation.substitutionScores[1];
                        if (polyphen) {
                            switch (polyphen.description) {
                                case 'probably damaging':
                                    return {
                                        css: {
                                            "background-color": "red"
                                        }
                                    };
                                case 'possibly damaging':
                                    return {
                                        css: {
                                            "background-color": "orange"
                                        }
                                    };
                                case 'benign':
                                    return {
                                        css: {
                                            "background-color": "green"
                                        }
                                    };
                                case 'unknown':
                                    return {
                                        css: {
                                            "background-color": "blue"
                                        }
                                    };
                            }
                        }
                    }
                }
                return {};
            }
        });
    </script>
</dom-module>