<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="name">cellbase</Property>
        <Property name="logFile">${cellbase.log.file}</Property>
        <Property name="logFileArchive">${cellbase.log.file}.%i.log.gz</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFileJson"
                     append="true"
                     immediateFlush="true"
                     fileName="${logFile}"
                     filePattern="${logFileArchive}"
                     createOnDemand="true"
                     ignoreExceptions="false">
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <!--                <OnStartupTriggeringPolicy />-->
                <!--                <TimeBasedTriggeringPolicy />-->
            </Policies>
            <DefaultRolloverStrategy max="20"/>

            <JSONLayout compact="true" eventEol="true" propertiesAsList="true" objectMessageAsJsonObject="true"
                        includeStacktrace="true" includeTimeMillis="true"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFileJson" />
        </Root>
        <Logger name="org.mongodb.driver.cluster" level="WARN"/>
        <Logger name="org.mongodb.driver.connection" level="WARN"/>
    </Loggers>
</Configuration>