name: Java tests

on: [push, pull-request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Launch MongoDB Docker
      uses: docker://mongo:3.6
    - name: Build with Maven
      run: mvn -T 2 clean install
