name: CellBase Release workflow

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: CellBase Build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          # do not remove, will fail.
          fetch-depth: '10'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Maven Build (skip tests)
        run: mvn clean install -DskipTests
      - name: Maven Validate
        run: mvn validate
  test:
    name: CellBase Test
    runs-on: ubuntu-18.04
    needs: build
    strategy:
      matrix:
        java: ["1.8"]
        mongodb: ["4.0", "4.2"]
    services:
      mongodb:
        image: mongo:${{ matrix.mongodb }}
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '10'
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Maven
        run: mvn clean install -Dcheckstyle.skip
  deploy:
    name: Build and deploy CellBase libs, Java docs and Docker images in Maven Central and DockerHub repositories
    runs-on: ubuntu-18.04
    needs: test
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '10'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          server-id: ossrh                        # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_NEXUS_USER       # env variable for username in deploy
          server-password: MAVEN_NEXUS_PASSWORD   # env variable for token in deploy

      ## IMPORTANT: this creates the 'build' installation folder and must be the FIRST action!
      ## Deploy in Maven repository
      - name: Copy GPG Private key
        run: echo "${{ secrets.MAVEN_GPG_PRIVATE_KEY }}" > private-key.txt && gpg --import --no-tty --batch --yes private-key.txt
      - name: Deploy to Maven Central respository
        env:
          MAVEN_NEXUS_USER: ${{ secrets.MAVEN_NEXUS_USER }}
          MAVEN_NEXUS_PASSWORD: ${{ secrets.MAVEN_NEXUS_PASSWORD }}
        run: mvn clean deploy -Dgpg.passphrase=${{ secrets.MAVEN_GPG_PASSPHRASE }} -DskipTests -DCELLBASE.WAR.NAME=cellbase -P deploy

      ## making requests via Python needs special package
      - name: Install Python package
        run: pip3 install requests

      ## set tag name
      - name: Get tag
        id: get_tag
        run: echo ::set-output name=TAG_NAME::${GITHUB_REF/refs\/tags\//}

      ## Build and deploy Docker images to DockerHub
      - name: Login to dockerhub
        run: docker login -u ${{ secrets.DOCKER_HUB_USER }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build and publish Docker images to DockerHub
        run: python3 ./build/cloud/docker/docker-build.py push --tag ${{ steps.get_tag.outputs.TAG_NAME }}

      ## Get CellBase version
#      - name: Get CellBase version
#        id: get_version
#        run: echo ::set-output name=VERSION::$(grep '<cellbase.version>' pom.xml | sed 's/cellbase.version//g' | sed 's/[<>/ ]//g')

      ## Delete snapshot
      - name: Delete SNAPSHOT image on dockerhub, if present
        env:
          SNAPSHOT_TAG: "${{ steps.get_tag.outputs.TAG_NAME }}-SNAPSHOT"
        run: python3 ./build/cloud/docker/docker-build.py delete --username ${{ secrets.DOCKER_HUB_USER }} --password ${{ secrets.DOCKER_HUB_PASSWORD}} --tag ${SNAPSHOT_TAG}

      ## Publish GitHub release
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            See http://docs.opencb.org/display/cellbase/Release+Notes for the full list of features and fixes in this release.
          draft: false
          prerelease: false

      ## Tar the build directory
      - name: zip
        id: zip
        run: tar -zcf cellbase-${{ steps.get_tag.outputs.TAG_NAME }}.tar.gz build --transform s/build/cellbase-${{ steps.get_tag.outputs.TAG_NAME }}/

      ## Upload tarball
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./cellbase-${{ steps.get_tag.outputs.TAG_NAME }}.tar.gz
          asset_name: cellbase-${{ steps.get_tag.outputs.TAG_NAME }}.tar.gz
          asset_content_type: application/tar+gzip

  site:
    name: Generate Maven site
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '10'
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Generate Site with Maven CLI
        run: mvn site
      - name: Prepare Maven Site submodules
        run: cp -r cellbase-app/target/site target/site/cellbase-app &&
          cp -r cellbase-client/target/site target/site/cellbase-client &&
          cp -r cellbase-core/target/site target/site/cellbase-core &&
          cp -r cellbase-lib/target/site target/site/cellbase-lib &&
          cp -r cellbase-server/target/site target/site/cellbase-server
      - name: Get CellBase version
        id: get_version
        run: echo ::set-output name=VERSION::$(grep '<cellbase.version>' pom.xml | sed 's/cellbase.version//g' | sed 's/[<>/ ]//g')
      - name: Get current date in YYMMDD format
        id: get_date
        run: echo ::set-output name=YYMMDD::$(date +%Y%m%d)
      - name: Get current date in HHMMSS format
        id: get_time
        run: echo ::set-output name=HHMMSS::$(date +%H%M%S)
      - name: Deploy mvn site to server
        id: deploy_site
        uses: Pendect/action-rsyncer@v1.1.0
        env:
          DEPLOY_KEY: ${{secrets.SCP_PRIVATE_KEY}}
        with:
          flags: '-avzr'
          options: ''
          ssh_options: ''
          src: 'target/site'
          dest: '${{ secrets.SCP_SITE_USER }}@128.232.224.128:/mnt/data/opencb/cellbase/site/${{ steps.get_version.outputs.VERSION }}/${{ steps.get_date.outputs.YYMMDD }}/${{ steps.get_time.outputs.HHMMSS }}-${{ github.sha }}'
